body {
  background-color: whitesmoke;
  text-align: center;
}
div {
  background-color: ghostwhite;
  box-shadow: 2px 3px 5px;
  padding: 20px;
  margin: 50px auto;
  border-radius: 15px;
}
button {
   background-color: darkseagreen;
  box-shadow: 2px 3px 5px;
  padding: 20px;
  margin: 50px auto;
  border-radius: 15px;
}